<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075955634239-t0sbljpf30n660g3nv76bmbnmo5r4a07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075955634239-t0sbljpf30n660g3nv76bmbnmo5r4a07</string>
	<key>API_KEY</key>
	<string>AIzaSyA17eTTysdflCQpQswQbIZm4fF1Srui_us</string>
	<key>GCM_SENDER_ID</key>
	<string>1075955634239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wilsonWings</string>
	<key>PROJECT_ID</key>
	<string>wilson-wings-9b2bb</string>
	<key>STORAGE_BUCKET</key>
	<string>wilson-wings-9b2bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075955634239:ios:523f34d04f8f7dd61e288a</string>
</dict>
</plist>